mixin storeForm(store = {})
	form(action="/add" method="POST" class="card")
		label(for="name") Name
		input(type="text" name="name")
		label(for="description") Description
		textarea(name="description")
		- const choices = ['WiFi', 'Friendly','Vegan','Open Late','Music']
		ul.tags
			each choice in choices
				.tag.tag__choice
					input(type="checkbox" id=choice name="tags" value=choice)
					label(for=choice) #{choice}
		input(type="submit" value="Save -<" class="button")